.delete-button {
  background-color: #BB0000;
  border-radius: 3px;
  padding: 6px 3px;
  margin-left: 5px;
  width: 25px;
}
.delete-button:hover {
  background-color: #FF0000;
  transition: all 0.2s ease-in-out;
}
.delete-button-icon {
  display: flex;
}