body {
  margin: 0;
}

:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  color: #333333;
  background-color: #ffffff;
  background-image: url("../../public/45-degree-fabric-light.png");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #000000;
  text-decoration: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

h1 {
  text-align: center;
}

h1, h2, h3 {
  margin: 10px 0;
}

h4, h5, h6 {
  margin: 0;
}

input {
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  padding: 0.6em 1.2em;
  font-family: inherit;
  color: #000000;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

/* Common Styles */
.bg-red {
  background-color: red;
}

.app {
  height: 100vh;
  padding: 0;
  z-index: 1;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
}

.page-content{
  flex-grow: 1;
  margin: 0;
}
.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.cursor {
  cursor: pointer;
  user-select: none;
}
.cursor-pointer {
  cursor: pointer;
  user-select: none;
}

.display-none {
  display: none;
}

/* Forms */
input {
  flex: 1;
  display: flex;
  flex-grow: 1;
}
select {
  display: flex;
  flex-grow: 1;
  flex: 1;
  border: 1px solid #aaaaaa;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
}
option {
  padding: 10px 20px;
}

/* Text */
.bold {
  font-weight: 700;
}
.t-left {
  text-align: left;
}
.t-center {
  flex: 1;
  text-align: center;
}
.t-small {
  font-size: 0.9em;
  line-height: 1;
}

.font-code {
  font-family: "Courier New", Courier, monospace;
  background-color: #EEEEEE;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

/* Alignment */
.center-justify {
  justify-content: center;
}
.center-align {
  align-items: center;
}
.center-all {
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}
.width-content {
  width: max-content;
}
.height-max {
  height: 100%;
}
.text-right {
  flex: 1;
  text-align: right;
}

/* Pad */
.pad-5 {
  padding: 5px;
}
.pad-10 {
  padding: 10px;
}
.pad-r-5 {
  padding-right: 5px;
}
.pad-l-5 {
  padding-left: 5px;
}
.pad-t-5 {
  padding-top: 5px;
}
.pad-b-5 {
  padding-bottom: 5px;
}
.pad-r-10 {
  padding-right: 10px;
}
.pad-l-10 {
  padding-left: 10px;
}
.pad-t-10 {
  padding-top: 10px;
}
.pad-b-10 {
  padding-bottom: 10px;
}
.pad-h-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pad-v-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pad-r-20 {
  padding-right: 20px;
}
.pad-l-20 {
  padding-left: 20px;
}
.pad-t-20 {
  padding-top: 20px;
}
.pad-b-20 {
  padding-bottom: 20px;
}
.pad-h-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pad-v-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Margin */
.mar-5 {
  margin: 5px;
}
.mar-10 {
  margin: 10px;
}
.mar-r-5 {
  margin-right: 5px;
}
.mar-l-5 {
  margin-left: 5px;
}
.mar-t-5 {
  margin-top: 5px;
}
.mar-b-5 {
  margin-bottom: 5px;
}
.mar-r-10 {
  margin-right: 10px;
}
.mar-l-10 {
  margin-left: 10px;
}
.mar-t-10 {
  margin-top: 10px;
}
.mar-b-10 {
  margin-bottom: 10px;
}
.mar-r-20 {
  margin-right: 20px;
}
.mar-l-20 {
  margin-left: 20px;
}
.mar-t-20 {
  margin-top: 20px;
}
.mar-b-20 {
  margin-bottom: 20px;
}
.mar-h-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mar-v-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Pages */
.login-page {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

/* Box Shadows */
.shadow-shallow {
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1), 0 2px 5px 0px rgba(0, 0, 0, 0.1);
}
.shadow-deep {
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.2);
}

/* Flex */
.flex {
  display: flex;
}
.flex-1 {
  display: flex;
  flex: 1;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.flex-text-right {
  display: flex;
  flex: 1;
  text-align: right;
}
.flex-text-left {
  display: flex;
  flex: 1;
  text-align: left;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.stretch {
  align-self: stretch;
  justify-content: stretch;
}

/* Colors */
.gradient-blue {
  background: linear-gradient(195deg, rgb(0, 102, 255), rgb(0, 51, 204))
}

.gradient-red {
  background: linear-gradient(195deg, rgb(204, 0, 0), rgb(128, 0, 0))
}

.gradient-green {
  background: linear-gradient(195deg, rgb(0, 153, 0), rgb(51, 102, 0))
}

.gradient-purple {
  background: linear-gradient(195deg, rgb(153, 0, 153), rgb(102, 0, 51))
}

.gradient-purple {
  background: linear-gradient(195deg, rgb(153, 0, 153), rgb(102, 0, 51))
}

.gradient-orange {
  background: linear-gradient(195deg,   rgb(255, 51, 0), rgb(204, 51, 0))
}

.gradient-yellow {
  background: linear-gradient(195deg,   rgb(204, 153, 0), rgb(153, 102, 0))
}

.gradient-black {
  background: linear-gradient(195deg,   rgb( 38, 38, 38), rgb(13, 13, 13))
}

.color-white {
  color: white;
}
.color-green {
  color: #00AA00;
}