.form-box {
  margin-top: 20px;
  width: 500px;
}

.form-label {
  font-size: 14px;
}

input {
  width: 260px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 1em;
}

.select {
  width: 300px;
}

option:active {
  background-color: red;
}
.user-add-button {
  margin-top: 20px;
  width: 265px;
}

.invalid {
  border-color: red;
}

.validation-box {
  color: #aa0000;
  width: 300px;
  background-color: rgb(255, 0, 0, 0.15);
  border: 2px solid #aa0000;
  border-radius: 5px;
  animation: 0.5s slide-up;
  margin-top: 0%;
}

.slide-up {
animation: 0.5s slide-up;
margin-top: 0%;
overflow: hidden;
}

@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 300%;
  }
  to {
    margin-top: 0%;
    height: 100%;
  }
}